.navbar {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    position: relative;
    margin-bottom: 2rem;

}


.navbar-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
}



.navbar-links>a {
    padding: 1rem 0;
}

.navbar-logo {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.navbar-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
}